.myInfo{
    width: 100%;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 15px;
}
.myInfo>div{
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}
.myInfo>div:nth-child(1){
    margin-top: 0px;
}
.myInfo .header_pic{
    height: 100px;
    overflow: hidden;
}
.myInfo>div>span,
.header_pic>img{
    display: block;
    float: left;
    font-size: 18px;
    color: #333;
}
.myInfo>div>span:nth-child(1){
    width: 120px;
    text-align: right;
}
.header_pic>img{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    border: 1px solid #EDEDED;
}
.header_pic>span{
    height: 100px;
    line-height: 100px;
}
.myInfo>div>img,
.myInfo>div>span:nth-child(2){
    margin-left: 20px;
}
.reset_button{
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    width: 120px;
    height: 40px;
    overflow:hidden;
    background: #f9f9f9;
    border: 1px solid #EDEDED;
    margin-left: 184px;
    margin-top: 15px;
    border-radius: 5px;
}